body {
	color: #D6D6D7;
	background-color: #3C4043;
}

a {
	color: #8AB4F8;
}

hr {
	border-color: rgba(255,255,255,0.12);
}

#tab-bar {
	color: #D6D6D7;
	background-color: #3C4043;
}

#header {
	color: #D6D6D7;
	background-color: #323639;
}

#home-showcase, #page-showcase {
	color: #D6D6D7;
	background-color: #202124;
}

#page-content {
	background-color: #323639;
}

.sticky-post {
	color: #D6D6D7;
	background-color: #202124;
}

#footer {
	color: #D6D6D7;
}
#footer .flex-column.left {
	background-color: #282C2F;
}
#footer .flex-column.right {
	background-color: #323639;
}
#footer-bottom-section {
	background-color: #202124;
}

::selection {
	background: #B3D4FC;
	text-shadow: none;
}

::-moz-selection {
	background: #B3D4FC;
	text-shadow: none;
}
