body {
	color: #000;
	background-color: #F5F5F5;
}

#tab-bar {
	color: #FFF;
	background-color: #795548;
}

#header {
	color: #FFF;
	background-color: #5D4037;
}

#home-showcase {
	color: #FFF;
}
#home-showcase .flex-column.left {
	background-color: #3E2723;
}

#footer {
	color: #FFF;
}
#footer .flex-column.left {
	background-color: #263238;
}
#footer .flex-column.right {
	background-color: #37424B;
}
#footer-bottom-section {
	background-color: #455A64;
}
