body {
	color: #000;
	background-color: #F5F5F5;
}

a {
	color: #5D4037;
}

#tab-bar {
	color: #FFF;
	background-color: #795548;
}

#header {
	color: #FFF;
	background-color: #5D4037;
}

#home-showcase, #page-showcase {
	color: #FFF;
	background-color: #3E2723;
}

#page-content {
	background-color: #FFF;
}

#footer {
	color: #FFF;
}
#footer .flex-column.left {
	background-color: #263238;
}
#footer .flex-column.right {
	background-color: #37424B;
}
#footer-bottom-section {
	background-color: #455A64;
}

::selection {
	background: #B3D4FC;
	text-shadow: none;
}

::-moz-selection {
	background: #B3D4FC;
	text-shadow: none;
}
